.logo {
  min-width: 36px;
}

.form-max-w {
    max-width: 450px;
}

.breed-card {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.dog-card {
  width: 240px;
  height: 240px;
}

.dog-card-img {
  max-height: 140px;
  height: 100%;
}

.dogs_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.dog-detail-img {
  max-width: 360px;
  max-height: 360px;
  width: 360px;
  height: auto;
}