{% load static %}
{% load i18n %}
{% load dogs.tags %}
<div class='card shadowed'>
    <img src='{% media dog.photo %}' class='card-img-top bg-body-tertiary' alt='{{ dog.breed }}'>
    <div class='card-body'>
        <div class='d-flex card-title'>
            <h5 class="my-0">{{ dog.name }}</h5>
            {% include 'dogs/include/dog_views_counter.html' with dog=dog %}
        </div>
        <a href='{% url 'dogs:dog_details' dog.id %}' class='btn btn-sm btn-outline-primary'>
            {% translate 'More' %}
        </a>
    </div>
</div>
