{% extends 'dogs/layout.html' %}
{% load tags %}
{% block content %}

    <div class="d-flex my-3">
        <h3>Наши питомцы</h3>
        <a class="btn btn-outline-success ms-auto" href="{% url 'dogs:dog_create' %}">Добавить</a>
    </div>
    <div class="dogs_list">
        {% for dog in dogs %}
            <div class="card dog-card">
                <img src="{% media dog.photo %}" class="card-img-top dog-card-img bg-body-tertiary"
                     alt="{{ dog.breed }}">
                <div class="card-body">
                    <h5 class="card-title">{{ dog.name }}</h5>
                    <a href="{% url 'dogs:dog_details' dog.id %}" class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}