{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load dogs.tags %}
{% block css %}
	<link rel="stylesheet" href="{% static 'dogs/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex flex-nowrap mt-3">
        <h3 class="text-nowrap me-3">{% translate 'Our dogs' %}</h3>
        {% if user.is_authenticated %}
            <a class="btn btn-w btn-outline-success ms-auto" href="{% url 'dogs:dog_create' %}">
                {% translate 'Add' %}
            </a>
        {% endif %}
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for dog in object_list %}
            <div class="col">
            {% include 'dogs/include/dog_card.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}