{% extends 'layout.html' %}
{% load i18n static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'security/css/style.css' %}">
{% endblock %}

{% block content %}

    <p class="mx-auto mt-3 text-center help">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <div class="mt-3 mx-auto auth-form rounded shadow p-3">
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}{% translate "Error:" %} {% endif %}
            {{ form }}
            <button class="btn btn-outline-success mt-3 w-100" type="submit">
                {% translate 'Reset my password' %}
            </button>
        </form>
    </div>
{% endblock %}
