{% extends 'layout.html' %}
{% load i18n static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'security/css/style.css' %}">
{% endblock %}

{% block content %}

    <p class="mx-auto mt-3 text-center help">
        {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
    </p>
    <div class="mt-3 mx-auto auth-form rounded shadow p-3">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="submit-row">
                <button type="submit" class="btn btn-outline-success mt-3 w-100">
                    {% translate 'Change my password' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
