{% load users.tags %}
{% load i18n %}
{% load static %}

<div class="side-nav d-flex flex-column mb-auto">
    <nav class="text-nowrap shadow rounded p-2">
        <h4 class="nav">
            <a href="{{ user.get_absolute_url }}" class="nav-link" aria-current="page">
                {% translate 'Profile' %}
            </a>
        </h4>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{{ user.get_absolute_url }}dogs/" class="nav-link" aria-current="page">
                    {% translate 'Dogs' %}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ user.get_absolute_url }}comments/" class="nav-link">
                    {% translate 'Comments' %}
                </a>
            </li>
            {% if request.user == user %}
                <li>
                    <hr class="ms-3 my-1">
                </li>
                <li class="nav-item">
                    <a href="{{ user.get_absolute_url }}edit/" class="nav-link">
                        {% translate 'Edit profile' %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if can_moderate %}
        {% if object.is_active %}
            {% translate 'Block' as action %}
        {% else %}
            {% translate 'Unblock' as action %}
        {% endif %}
        <div class="btn-group mt-3">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">
                {% trans 'Action' %}
            </button>
            <ul class="dropdown-menu">
                {% if request.user.is_admin %}
                    <li class="dropend">
                        <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                            {% trans 'Set role' %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-sm-start">
                            <li>
                                <form action="{% url 'users:user_role' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="role" value="ADMIN">
                                    <button class="dropdown-item" type="submit">
                                        {% trans 'Admin' %}
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form action="{% url 'users:user_role' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="role" value="MODERATOR">
                                    <button class="dropdown-item" type="submit">
                                        {% trans 'Moderator' %}
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form action="{% url 'users:user_role' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="role" value="USER">
                                    <button class="dropdown-item" type="submit">
                                        {% trans 'User' %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#blockUserModal" style="color:darkred">
                        {{ action|capfirst }}
                    </button>
                </li>
            </ul>
        </div>

        {% url 'users:user_status' user.id as url %}
        {% include 'include/modal.html' with action=action subject=user modal_id='blockUserModal' submit_url=url %}
    {% endif %}
</div>