{% load users.tags %}
{% load i18n %}

<div class="d-flex flex-row shadow rounded user-card">
    <img class="user-photo object-fit-cover ms-2 my-auto border rounded" src="{% media user.avatar %}" alt="photo">
    <div class="d-flex flex-column flex-grow-1 m-2">
        <strong>{{ user.username }}</strong>
        <em>{{ user.get_role_display }}</em>
        <a href="{{ user.get_absolute_url }}" class="btn btn-sm btn-outline-primary ms-auto mt-auto">
            {% translate 'Details' %}
        </a>
    </div>
</div>

