{% extends 'dogs/layout.html' %}
{% load users.tags %}
{% block content %}
    <div class="row mt-3">
        <div class="col-auto">
            <img src="{% media user.avatar %}" alt="{{ user.username }}" class="dog-detail-img border">
        </div>
        <div class="col">
            <p><strong>Логин: </strong>{{ user.username }}</p>
            <p><strong>Email: </strong>{{ user.email }}</p>
            <p><strong>Фамилия: </strong>{{ user.last_name }}</p>
            <p><strong>Имя: </strong>{{ user.first_name }}</p>
            <p><strong>Телефон: </strong>{{ user.phone }}</p>
        </div>
    </div>
{% endblock %}