{% extends 'layout.html' %}
{% load users.tags %}
{% load i18n %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block sidenav %}
    <div class="d-flex flex-column shadowed rounded side-bar">
        <div class="d-flex flex-column">
            <h4 class="nav">
                <a href="{{ user.get_absolute_url }}" class="nav-link" aria-current="page">
                    {% translate 'Profile' %} - {{ user.username }}
                </a>
            </h4>
            <hr class="my-1">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{{ user.get_absolute_url }}dogs/" class="nav-link" aria-current="page">
                        {% translate 'Dogs' %}
                    </a>
                </li>
                <li>
                    <a href="{{ user.get_absolute_url }}comments/" class="nav-link">
                        {% translate 'Comments' %}
                    </a>
                </li>
                {% if request.user == user %}
                    <li>
                        <hr class="ms-3 my-1">
                    </li>
                    <li>
                        <a href="{{ user.get_absolute_url }}edit/" class="nav-link">
                            {% translate 'Edit profile' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if request.user.is_staff and user.role != 'ADMIN' and request.user != user or request.user.is_superadmin and request.user != user %}
            <hr>
            <div class="btn-group">
                <button class="btn btn-w btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" aria-expanded="false">
                    {% trans 'Action' %}
                </button>
                <ul class="dropdown-menu">
                    {% if request.user.is_superuser %}
                        <li class="dropend">
                            <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                {% trans 'Set role' %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-sm-start">
                                <li>
                                    <form action="{% url 'users:user_status' user.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="role" value="ADMIN">
                                        <button class="dropdown-item" type="submit">
                                            {% trans 'Admin' %}
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'users:user_status' user.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="role" value="MODERATOR">
                                        <button class="dropdown-item" type="submit">
                                            {% trans 'Moderator' %}
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'users:user_status' user.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="role" value="USER">
                                        <button class="dropdown-item" type="submit">
                                            {% trans 'User' %}
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                data-bs-target="#blockModal" style="color:darkred">
                            {% if object.is_active %}
                                {% translate 'Block' %}
                            {% else %}
                                {% translate 'Unblock' %}
                            {% endif %}
                        </button>
                    </li>
                </ul>
            </div>
            <div id='blockModal' class='modal fade' tabindex='-1' aria-labelledby='blockModalLabel'>
                <div class='modal-dialog modal-dialog-centered'>
                    <div class='modal-content'>
                        {% status_action object as action %}
                        <div class='modal-header'>
                            <h1 class='modal-title fs-5' id="blockModalLabel">
                                {% blocktrans with text=action|capfirst %}{{ text }} {{ object }}{% endblocktrans %}
                            </h1>
                            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                        </div>
                        <div class='modal-body'>
                            <h5>&#x26A0;
                                {% blocktrans %}Are you sure you want to {{ action }} {{ object }}?{% endblocktrans %}
                            </h5>
                        </div>
                        <div class='modal-footer'>
                            <form method="POST" action="{% url 'users:user_status' user.id %}">
                                {% csrf_token %}
                                <input type='hidden' name='is_active' value='{{ object.is_active }}'>
                                <button type='button' class='btn btn-w btn-outline-secondary' data-bs-dismiss='modal'>
                                    {% translate 'Cancel' %}
                                </button>
                                <button type='submit' class='btn btn-w btn-outline-danger'>
                                    {% blocktrans with text=action|capfirst %}{{ text }}{% endblocktrans %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
