{% extends 'layout.html' %}
{% load i18n %}
{% load users.tags %}

{% block content %}
    <div class="d-flex flex-wrap my-3 gap-3">
        {% for user in object_list %}
            {% media user.avatar as user_image %}
            {% with user.get_role_display as details %}
                {% include 'include/list_card.html' with image_url=user_image caption=user.username details=details details_url=user.get_absolute_url%}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}