{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load users.tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex flex-wrap my-3 gap-3">
        {% for user in object_list %}
            {% media user.avatar as user_image %}
            {% with user.get_role_display as details %}
                {% include 'users/include/user_card.html' with image_url=user_image caption=user.username details=details details_url=user.get_absolute_url%}
            {% endwith %}
        {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="d-flex mt-3">
            {% include 'pagination.html' %}
        </div>
    {% endif %}

{% endblock %}