{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load users.tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex flex-wrap my-3 gap-3 justify-content-center">
        {% for user in object_list %}
            {% include 'users/include/user_card.html' with user=user %}
        {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="d-flex mt-3">
            {% include 'pagination.html' %}
        </div>
    {% endif %}

{% endblock %}