{% extends 'profile.html' %}
{% load static %}
{% load users.tags %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block sidenav %}
    {% include 'users/include/sidenav.html' %}
{% endblock %}

{% block details %}
    <div class="d-flex flex-column flex-grow-1 p-3 shadow rounded">
        <form action="{% url 'users:profile_edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <hr>
            <button type="submit" class="btn btn-outline-success">{% trans 'Save' %}</button>
        </form>
    </div>
{% endblock %}