{% extends 'profile.html' %}
{% load static %}
{% load users.tags %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block sidenav %}
    {% include 'users/include/sidenav.html' %}
{% endblock %}

{% block details %}
    <div class="d-flex flex-row flex-wrap flex-grow-1 gap-3 p-3 shadow rounded">
        <img class="photo rounded mx-auto object-fit-contain border"
             src="{% media object.avatar %}" alt="{{ object.username }}">
        <div class="flex-grow-1">
            <div class="d-flex">
                <h4 class="me-2">{% translate 'Profile' %} {{ object.username }}</h4>
                <em class="ms-auto">
                    {{ object.get_role_display }} {% if not object.is_active %}({% trans 'Blocked' %}){% endif %}
                </em>
            </div>
            <hr>
            <p><strong>{% translate 'Username' %}</strong>: {{ object.username }}</p>
            <p><strong>{% translate 'Email' %}</strong>: {{ object.email }}</p>
            <p><strong>{% translate 'First name' %}</strong>: {{ object.last_name }}</p>
            <p><strong>{% translate 'Last name' %}</strong>: {{ object.first_name }}</p>
            <p><strong>{% translate 'Phone' %}</strong>: {{ object.phone }}</p>
        </div>
    </div>
{% endblock %}